/* Global styles */
:root {
  --max-width: 1200px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

a {
  color: inherit;
}

